    <!-- Breadcrumb -->
    <section class="bread__crumb">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="./index.html">Trang chủ</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Đổi mật khẩu</li>
          </ol>
        </nav>
      </div>
    </section>
    <!-- Info Section -->
    <section class="account">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-4">
            <div class="row mb-3 h-100">
              <div class="col-12">
                <div class="account-action rounded h-100">
                  <div class="item_acc border-bottom">
                    <a href="#!/account" title="Thông
                      tin tài khoản">
                      <i class="fa-solid fa-user icon"></i>
                      <span class="ms-3">Thông tin tài khoản</span>
                    </a>
                  </div>
                  <div class="item_acc border-bottom">
                    <a href="#!/account/updateInfo" class=" d-flex w-100 align-items-center" title="Quản lý địa chỉ">
                      <i class="fa-solid fa-pen-to-square icon"></i>
                      <span class="ms-3">Cập nhật tài khoản</span>
                    </a>
                  </div>
                  <div class="item_acc border-bottom">
                    <a href="#!/account/updatePassword" class="active d-flex w-100 align-items-center" title="Đổi mật khẩu">
                      <i class="fa-solid fa-shuffle icon"></i>
                      <span class="ms-3">Đổi mật khẩu</span>
                    </a>
                  </div>
                  <div class="item_acc">
                    <a class="d-flex w-100 align-items-center" href="#" title="Đăng xuất">
                      <i class="fa-solid fa-arrow-right-from-bracket icon"></i>
                      <span class="ms-3">Đăng xuất</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-8">
            <div class="change__pass rounded p-3 mt-4 mt-lg-0">
							<h1 class="change__pass-title">Đổi mật khẩu</h1>
							<form  action="#" id="form" spellcheck="false" autocomplete="off">
							<p>Để đảm bảo tính bảo mật vui lòng đặt mật khẩu với ít nhất 8 kí tự</p>
							<div class="form-floating mb-3">
                <input type="text" class="form-control" id="password" placeholder="Mật khẩu mới">
                <label for="floatingInput">Mật khẩu mới</label>
                <small></small>
              </div>
							<div class="form-floating mb-3">
                <input type="text" class="form-control" id="cfpassword" placeholder="Xác nhận mật khẩu mới">
                <label for="floatingInput">Xác nhận mật khẩu mới</label>
                <small></small>
              </div>
							<button type="submit" class="button btn btn-primary" id="btnSubmit">Đổi mật khẩu </button>
							</form>
						</div>
          </div>
        </div>
      </div>
    </section>